@font-face {
  font-family: 'Abdomisr';
  src: url('/font/abdomisr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1536px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: visible;
}

.navbar-sand {
  position: absolute;
  top: 0;
  transform: translateY(-5%);
  max-width: 1700px;
  width: 200%;
  height: auto;
  display: block;
  z-index: -1;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  pointer-events: auto;
}

.nav-list {
  display: flex;
  gap: 60px;
  list-style: none;
  margin: 0;
  position: relative;
}

.navbar-logo {
  max-width: 120px;
  position: relative;
  right: 15px;
  height: auto;
  display: block;
}

.navbar-title {
  font-family: 'Abdomisr', sans-serif;
  font-size: 40px;
  background: linear-gradient(90deg, #5B1A1A 0%, #FF8D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 29.5px rgba(0, 0, 0, 0.4);
  margin: 0;
  position: relative;
  top: -22px;

}

.nav-item {
  margin: 0;
}

.nav-link {
  font-family: 'Abdomisr', sans-serif;
  font-weight: 900;
  font-size: 32px;
  background: linear-gradient(90deg, #5B1A1A 0%, #673C16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link:hover {
  opacity: 0.8;
}

.navbar-subtitle {
  font-family: 'Abdomisr', sans-serif;
  font-size: 110px;
  background: linear-gradient(90deg, #5B1A1A 0%, #FF8D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  max-width: 650px;
  text-align: center;
  line-height: .8;
}

.navbar-description {
  font-family: 'Abdomisr', sans-serif;
  font-size: 45px;
  background: linear-gradient(90deg, #5B1A1A 0%, #FF8D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  text-align: center;
}

.navbar-button {
  font-family: 'Abdomisr', sans-serif;
  font-size: 25px;
  font-weight: 900;
  background: #6FAF74;
  border: none;
  padding: 2px 22px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  overflow: visible;
  color: transparent;
}

.navbar-button-text {
  background: linear-gradient(90deg, #5B1A1A 0%, #673C16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.navbar-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6FAF74;
  z-index: -1;
  border-radius: 8px;
}

.navbar-button:hover,
.navbar-button:focus,
.navbar-button:active {
  outline: none;
}

.navbar-button:hover::before,
.navbar-button:focus::before,
.navbar-button:active::before {
  background: linear-gradient(90deg, #5B1A1A 0%, #673C16 100%);
}

.navbar-button:hover .navbar-button-text,
.navbar-button:focus .navbar-button-text,
.navbar-button:active .navbar-button-text {
  background: #6FAF74;
  -webkit-text-fill-color: #6FAF74;
}

.button-decoration {
  position: absolute;
  top: -25px;
  right :-20;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
