.the-experience {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px 20px 20px;
  background-color: #F2D2A9;
}

.the-experience h1 {
  font-family: 'Abdomisr', sans-serif;
  font-size: 84px;
  background: linear-gradient(90deg, #5B1A1A 0%, #FF8D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  text-align: center;
      height: 110px;
      position: relative;
      top: -20px;
}

.experience-subheader {
  font-family: 'Abdomisr', sans-serif;
  font-size: 40px;
  background: linear-gradient(90deg, #5B1A1A 0%, #FF8D28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 29.5px rgba(0, 0, 0, 0.4);
  text-align: center;
      margin: 0;
    height: 53px;
    position: relative;
    top: -20px;
}

.experience-button {
  font-family: 'Abdomisr', sans-serif;
  font-size: 25px;
  font-weight: 900;
  background: #6FAF74;
  border: none;
  padding: 2px 22px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 60px;
  position: relative;
  overflow: visible;
  color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experience-button-text {
  background: linear-gradient(90deg, #5B1A1A 0%, #673C16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

.experience-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6FAF74;
  z-index: -1;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.experience-button:hover,
.experience-button:focus,
.experience-button:active {
  outline: none;
}

.experience-button:hover::before,
.experience-button:focus::before,
.experience-button:active::before {
  background: linear-gradient(90deg, #5B1A1A 0%, #673C16 100%);
}

.experience-button:hover .experience-button-text,
.experience-button:focus .experience-button-text,
.experience-button:active .experience-button-text {
  background: #6FAF74;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.experience-button-decoration {
  position: absolute;
  top: -25px;
  right :-20;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
